#!/bin/sh
# Start/stop the NCUSim daemon.
#
### BEGIN INIT INFO
# Provides:          NCUSim
# Required-Start:    $network-online $remote_fs $syslog $time
# Required-Stop:     $remote_fs $syslog $time
# Should-Start:      $network $named slapd autofs ypbind nscd nslcd winbind sssd
# Should-Stop:       $network $named slapd autofs ypbind nscd nslcd winbind sssd
# Default-Start:     2 3 4 5
# Default-Stop:
# Short-Description: Regular background program processing daemon
# Description:       NCUSim Simple NCU Simulator
### END INIT INFO

PATH=/bin:/usr/bin:/sbin:/usr/sbin
DESC="NCUSim daemon"
NAME=NCUSim
DAEMON=/home/pi/Source/NCUSim/NCUSim
PIDFILE=/var/run/NCUSim.pid
SCRIPTNAME=/etc/init.d/"$NAME"
EXTRA_OPTS=
test -f $DAEMON || exit 0

. /lib/lsb/init-functions

start() {
  log_daemon_msg "Starting NCU Simulator" "NCUSim"
  start_daemon -p $PIDFILE $DAEMON  -w  /home/pi/Source/NCUSim/www 
  log_end_msg $?
}

stop() {
  log_daemon_msg "Stopping NCU Simulator" "NCUSim"
  killproc -p $PIDFILE $DAEMON
  RETVAL=$?
  [ $RETVAL -eq 0 ] && [ -e "$PIDFILE" ] && rm -f $PIDFILE
  log_end_msg $RETVAL
}

status() {
  log_daemon_msg "NCU Simulator" "NCUSim"
}

case "$1" in
  start)
    start
  ;;

  stop)
    stop
  ;;

  restart)
    log_daemon_msg "Restarting NCU Simulator" "NCUSim" 
    $0 stop
    $0 start
  ;;

  reload|force-reload)
    log_daemon_msg "Reloading configuration files for CAN Simulator" "NCUSim"
    log_end_msg 0
   ;;

  status)
    status_of_proc -p $PIDFILE $DAEMON $NAME && exit 0 || exit $?
   ;;

  *)
    log_action_msg "Usage: /etc/init.d/NCUSim: {start|stop|status|restart|reload|force-reload}"
     exit 2
  ;;
esac
exit 0
